<p>Users Index root_path</p>

<% if logged_in? %>
    <h1>Welcome, <%= current_user.username %></h1>
<% end %>

<% if !logged_in? %>
    <h1>Welcome to MyDIY</h1>
    <p>Please sign up or log in</p>
<% end %>




