<p> colloborations index - collaborations_path </p><br>


link to new collaboration form<br>

list all current user collaborations with <br>
 - link to project show pages <br>
 - link to edit collaboration (if owner only) <br>