<h1>My Goals</h1>

<% if @goals.completed.any? %>
    <h3> Completed </h3>
    <ul>
    <% @goals.completed.each do |goal| %>
        <%= render "goal_details", {goal: goal} %>
    <% end %>
    </ul>
<% end %>

<% if @goals.in_progress.any? %>
    <h3> In Progress </h3>
    <ul>
    <% @goals.in_progress.each do |goal| %>
        <%= render "goal_details", {goal: goal} %>
    <% end %>
    </ul>
<% end %>

<% if @goals.not_started.any? %>
    <h3> Not Started </h3>
    <ul>
    <% @goals.not_started.each do |goal| %>
        <%= render "goal_details", {goal: goal} %>
    <% end %>
    </ul>
<% end %>
   