<p>goals show page - goal_path</p>

<h1><%= @goal.title %></h1>
Description: <%= @goal.description %><br>
Estimated Budget: <%= @goal.budget %><br>
Status: <%= @goal.status %><br>
<br>

Add section for Resources
<br>

Add section for Photos
<br>

Add section for Updates
<br>
